<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <div class="row" style="margin-top: 40px;">
                        <div class="col-md-6">                    
                            <p>Goodthink acts for a strong set of businesses in the banking, mortgage lending, healthcare and property sectors. The company aims specifically at innovation, speed of reaction and responding to increasingly competitive demand for better returns.</p>
                        </div>

                        <div class="col-md-6">
                            <p>Goodthink concentrates on building stable strategic partnerships and joint ventures with clients and other stakeholders by consistently helping them capitalize on opportunities. It offers an array of great products and services, creating a better future for businesses and consumers.</p>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>