<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <div class="row" style="margin-top: 40px;">
                        <div class="col-md-6">                    
                            <p>Goodthink operates a strong set of businesses in the banking, mortgage lending, collective investment and property sectors. The company aims specifically at innovation, speed of reaction and responding to an increasingly competitive demand for better returns.</p>
                        </div>

                        <div class="col-md-6">
                            <p>It offers an array of great products and services, enabling businesses and consumers to build a stronger, better future. Goodthink concentrates on building stable strategic partnerships and joint ventures with clients and other stakeholders by consistently helping them capitalize on opportunities.</p>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>